body {
    background-color: bisque;
}

.wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
}

#olive{
float: left;
height: 420px;
width: 327px;
border-radius: 7px 0 0 7px;
}

.produtoinfo {
float: left;
height: 420px;
width: 327px;
border-radius: 0 7px 10px 7px;
background-color: #ffffff;

}

.produtotexto {
height: 300px;
width: 327px;
}

.produtotexto h1{
    margin: 0 0 0 0 38px;
    padding-top: 1px;
    font-size: 34px;
    color:#474747;
}

.produtotexto h1,
.botaopreco p {

    font-family:'Benthman', serif;
}

.produtotexto h2{

    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
}

.produtotexto p{

    height: 225px;
    padding-bottom: 100px;
    margin: 0 0 47px 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;

}

.botaopreco{

    height: 103px;
    padding-right: 50px;
    width: 327px;
    margin-top: 30px;
    position: relative;
}

.botaopreco p{

    display: inline-block;
    position: absolute;
    top:-13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 50px;
    font-size: 20px;
    font-weight: lighter;
    color: #474747;

}

span{

    display: inline-block;
    height: 110px;
    margin: auto;
    font-family: 'Suranna', serif;
    font-size: 34px;

}

.botaopreco button {

    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 60px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

.botaopreco button:hover {
background-color: #79b0a1;

}
